@import url('https://fonts.cdnfonts.com/css/margesh');
@import url('https://fonts.cdnfonts.com/css/red-hat-mono');

@import "tailwindcss";


:root {
  --background: #EDEDE9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

div {
  border: 1px solid;
  border-color: white;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: column;
}

p {
  font-family: 'Red Hat Mono', sans-serif;
}

h1 {
  font-size: 80;
  font-family: 'Margesh', sans-serif;
}

h2 {
  font-size: 50;
  font-family: 'Margesh', sans-serif;
}

h3 {
  font-size: large;
  font-family: 'Red Hat Mono', sans-serif;
}

a {
  text-decoration: underline;
  font-weight: 500;
}